{:paths   ["src" "config"]
 :deps    {com.flexiana/framework {:mvn/version "0.3.0"}
           metosin/reitit         {:mvn/version "0.5.15"}
           ring/ring              {:mvn/version "1.9.4"}
           ring/ring-defaults     {:mvn/version "0.3.3"}}
 :aliases {:run   {:extra-paths ["config/dev"]
                   :exec-fn todoapp.core/-main}
           :test  {:extra-paths ["config/test""test"]
                   :extra-deps  {clj-http/clj-http          {:mvn/version "3.12.3"}
                                 lambdaisland/kaocha        {:mvn/version "1.0.902"}
                                 clj-kondo/clj-kondo        {:mvn/version "2021.09.25"}
                                 nubank/matcher-combinators {:mvn/version "3.3.1"}}}
           :style {:deps      {mvxcvi/cljstyle {:mvn/version "0.14.0"}}
                   :main-opts ["-m" "cljstyle.main" "fix"]}
           :build {:extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}
                   :ns-default hf.depstar
                   :exec-args  {:sync-pom    true
                                :group-id    "flexiana"
                                :artifact-id "framework-todoapp"
                                :version     "0.3.0"
                                :jar         "todoapp.jar"
                                :jar-type    "uber"
                                :aot         true
                                :main-class  todoapp.core}
                   :exec-fn    hf.depstar/uberjar}}}
