/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/.clj-kondo/cache/
/dev/resources/local.edn
/dev/src/local.clj
.eastwood
.idea/
.cpcache/
.lsp/
