{:lint-as {xiana.core/flow-> clojure.core/->
           com.wsscode.pathom3.connect.operation/defresolver clojure.core/def}
 :linters
 {:unused-namespace {:level :error}
  :unresolved-var {:exclude [honeysql.helpers
                             honeysql-postgres.helpers
                             honeysql.core]}

  :consistent-alias
  {:level   :error
   :aliases {taoensso.timbre log}}}}
