.sidebar.primary {
    background: #f8cc00;
    width: 200px;
}

.sidebar.primary::-webkit-scrollbar {
    display: none;
}

.logo {
    padding-top: 10px;
    margin:0px;
}

.logo img {
    height: 65px;
}

