{:xiana/postgresql {:image-name "postgres:14-alpine"
                    :port       5432
                    :dbname     "controllers"
                    :host       "localhost"
                    :dbtype     "postgresql"
                    :user       "postgres"
                    :password   "postgres"}
 
 :xiana/web-server {:port  3333
                    :join? false}}
