{:xiana/postgresql {:port     5432
                    :dbname   "controllers"
                    :host     "localhost"
                    :dbtype   "postgresql"
                    :user     "postgres"
                    :password "postgres"}
 :xiana/migration  {:store                :database
                    :migration-dir        "resources/migrations"
                    :init-in-transaction? false
                    :migration-table-name "migrations"}
 :xiana/web-server {:port  3000
                    :join? false}}
