{:paths ["src/backend" "resources"]
 :deps {com.flexiana/framework {:mvn/version "0.5.0-rc7"}}
 :aliases
 {:run
  {:extra-paths ["config/dev"]
   :main-opts [-m "app.core"]}

  :dev
  {:extra-paths ["config/dev" "../.."]
   :extra-deps  {com.flexiana/framework {:local/root "../.."}}}

  :format
  {:replace-deps {mvxcvi/cljstyle {:mvn/version "0.17.642"}}
   :main-opts    ["-m" "cljstyle.main"]}

  :test
  {:extra-paths ["config/test" "test"]
   :extra-deps  {clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
                 clj-http/clj-http                       {:mvn/version "3.13.0"}
                 http.async.client/http.async.client     {:mvn/version "1.4.0"}
                 com.cognitect/test-runner               {:git/url "https://github.com/cognitect-labs/test-runner"
                                                          :sha     "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}
                 org.testcontainers/testcontainers       {:mvn/version "1.21.0"}}
   :main-opts   ["-m" "cognitect.test-runner" "-d" "test"]}}}
