{:paths ["resources" "src"]
 :deps {com.wsscode/pathom3 {:git/url "https://github.com/wilkerlucio/pathom3"
                             :sha "ea60bb0031961fca5600630ce297b43dbd643225"}
        com.wsscode/tailwind-garden {:git/url "https://github.com/wilkerlucio/tailwind-garden"
                                     :sha "4f8af13165dd997de15b20ac5e7dd06351821acd"}}}
