{:framework.db.storage/postgresql {:dbname   "acl"
                                   :host     "localhost"
                                   :dbtype   "postgresql"
                                   :user     "postgres"
                                   :password "postgres"}
 :framework.db.storage/migration  {:store                :database
                                   :migration-dir        "resources/migrations"
                                   :init-in-transaction? false
                                   :migration-table-name "migrations"}
 :framework.app/ring              {:defaults {:params    {:urlencoded true
                                                          :multipart  true
                                                          :nested     true
                                                          :keywordize true}
                                              :cookies   true
                                              :session   {:flash true
                                                          :cookie-attrs
                                                                 {:http-only true, :same-site :strict}}
                                              :security  {:anti-forgery         true
                                                          :xss-protection
                                                                                {:enable? true, :mode :block}
                                                          :frame-options        :sameorigin
                                                          :content-type-options :nosniff}
                                              :static    {:resources "public"}
                                              :responses {:not-modified-responses true
                                                          :absolute-redirects     true
                                                          :content-types          true}}}
 :framework.app/web-server        {:port  3000
                                   :join? false}
 :acl/permissions                 {"posts"    [:read :create :update :delete :comment :react]
                                   "comments" [:read :create :update :delete :reply :react]
                                   "users"    [:read :create :update :delete :ban]}
 :acl/roles                       {:guest     [{:resource "posts"
                                                :actions  [:read]
                                                :over     :all}
                                               {:resource "comments"
                                                :actions  [:read]
                                                :over     :all}]
                                   :member    [{:resource "posts"
                                                :actions  [:read]
                                                :over     :all}
                                               {:resource "posts"
                                                :actions  [:read :comment :react]
                                                :over     :friends}
                                               {:resource "posts"
                                                :actions  [:create :update :delete]
                                                :over     :own}
                                               {:resource "comments"
                                                :actions  [:create :update :delete]
                                                :over     :own}
                                               {:resource "comments"
                                                :actions  [:read :reply :react]
                                                :over     :friend}
                                               {:resource "comments"
                                                :actions  [:read]
                                                :over     :all}
                                               {:resource "users"
                                                :actions  [:create :update :delete]
                                                :over     :own}
                                               {:resource "users"
                                                :actions  [:read]
                                                :over     :all}]
                                   :staff     [{:resource "posts"
                                                :actions  [:read :delete]
                                                :over     :all}
                                               {:resource "comments"
                                                :actions  [:read :delete]
                                                :over     :all}
                                               {:resource "users"
                                                :actions  [:read :ban]
                                                :over     :all}]
                                   :superuser [{:resource :all
                                                :actions  [:all]
                                                :over     :all}]}}
