{:framework.db.storage/postgresql {:port     5432
                                   :dbname   "example"
                                   :host     "localhost"
                                   :dbtype   "postgresql"
                                   :user     "postgres"
                                   :password "postgres"}

 :framework.db.storage/migration  {:store                :database
                                   :migration-dir        "resources/migrations"
                                   :init-in-transaction? false
                                   :migration-table-name "migrations"}
 :framework.app/emails            {:host ""
                                   :user ""
                                   :pass ""
                                   :tls  true
                                   :port 587
                                   :from ""}
 :framework.app/auth              {:hash-algorithm  :bcrypt ;; Available values: :bcrypt, :scrypt, and :pbkdf2
                                   :bcrypt-settings {:work-factor 11}
                                   :scrypt-settings {:cpu-cost        32768 ;; Must be a power of 2
                                                     :memory-cost     8
                                                     :parallelization 1}
                                   :pbkdf2-settings {:type       :sha1 ;; Available values: :sha1 and :sha256
                                                     :iterations 100000}}
 :users/permissions               {:customer         [{:resource "items"
                                                       :actions  [:read]
                                                       :filter   :all}
                                                      {:resource "users"
                                                       :actions  [:read :update :delete]
                                                       :filter   :own}
                                                      {:resource "addresses"
                                                       :actions  [:create :read :update :delete]
                                                       :filter   :own}
                                                      {:resource "carts"
                                                       :actions  [:create :read :update :delete]
                                                       :filter   :own}]
                                   :warehouse-worker [{:resource "items"
                                                       :actions  [:read :update]
                                                       :filter   :all}]
                                   :postal-worker    [{:resource "carts"
                                                       :actions  [:read :update]
                                                       :filter   :all}
                                                      {:resource "addresses"
                                                       :actions  [:read]
                                                       :filter   :all}]
                                   :shop-worker      [{:resource "items"
                                                       :actions  :all
                                                       :filter   :all}]
                                   :administrator    [{:resource :all
                                                       :actions  :all
                                                       :filter   :all}]}}


