{:xiana/postgresql {:port     5432
                    :dbname   "framework"
                    :host     "localhost"
                    :dbtype   "postgresql"
                    :user     "postgres"
                    :password "postgres"}
 :xiana/web-server {:port  3000
                    :join? false}
 :xiana/migration  {:store                :database
                    :migration-dir        "resources/migrations"
                    :init-in-transaction? false
                    :migration-table-name "migrations"}
 :xiana/emails     {:host ""
                    :user ""
                    :pass ""
                    :tls  true
                    :port 587
                    :from ""}
 :xiana/auth       {:hash-algorithm  :bcrypt ; Available values: :bcrypt, :scrypt, and :pbkdf2
                    :bcrypt-settings {:work-factor 11}
                    :scrypt-settings {:cpu-cost        32768 ; Must be a power of 2
                                      :memory-cost     8
                                      :parallelization 1}
                    :pbkdf2-settings {:type       :sha1 ; Available values: :sha1 and :sha256
                                      :iterations 100000}}}
