{:xiana/postgresql {:port     5432
                    :dbname   "framework"
                    :host     "localhost"
                    :dbtype   "postgresql"
                    :user     "postgres"
                    :password "postgres"}

 :xiana/hikari-pool-params {:auto-commit        true
                            :read-only          false
                            :connection-timeout 30000
                            :validation-timeout 5000
                            :idle-timeout       600000
                            :max-lifetime       1800000
                            :minimum-idle       10
                            :maximum-pool-size  10
                            :pool-name          "db-pool"
                            :register-mbeans    false}

 :xiana/web-server {:port  3000
                    :join? false}
 :xiana/swagger    {:uri-path "/swagger/swagger.json"
                    :path :swagger.json
                    :data {:coercion (reitit.coercion.malli/create
                                       {:error-keys #{:coercion :in :schema :value :errors :humanized}
                                        :compile malli.util/closed-schema
                                        :strip-extra-keys true
                                        :default-values true
                                        :options nil})
                           :middleware [reitit.swagger/swagger-feature]}}
 :xiana/swagger-ui {:uri-path "/swagger/swagger-ui"}
 :xiana/migration  {:store                :database
                    :migration-dir        "resources/migrations"
                    :init-in-transaction? false
                    :migration-table-name "migrations"}
 :xiana/emails     {:host ""
                    :user ""
                    :pass ""
                    :tls  true
                    :port 587
                    :from ""}
 :xiana/auth       {:hash-algorithm  :bcrypt ; Available values: :bcrypt, :scrypt, and :pbkdf2
                    :bcrypt-settings {:work-factor 11}
                    :scrypt-settings {:cpu-cost        32768 ; Must be a power of 2
                                      :memory-cost     8
                                      :parallelization 1}
                    :pbkdf2-settings {:type       :sha1 ; Available values: :sha1 and :sha256
                                      :iterations 100000}}}
